wget
wheel
psutil
heroku3
requests
tgcrypto
pytube
pillow
aiohttp
aiofiles
ffmpeg-python
python-dotenv
youtube_search
youtube_search_python
pytgcalls==3.0.0.dev21
youtube-search-python
git+https://github.com/LEGEND-OS/pyrogram
git+https://github.com/LEGEND-OS/downloader
